<div class="container-fluid back">

  <div class="row">

    <div class="col-12">

      <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong>Request a Callback.!!</strong>
        <button type="button" style="float: right;" class="btn btn-dark">Request Now</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>

  </div>
  <div class="row">

    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-none">
        <img src="https://png.icons8.com/metro/1600/school.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <a style="padding: 0 3vmin" class="navbar-left navbar-brand" href="#"> School Name </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div style="float: right;" class="navbar-right">
              <div class="col-12">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Login</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-dark">Academic Enquiry</button>
              </div>
            </div>
          </ul>
        </div>

      </nav>
    </div>

  </div>
  <div class="row">

    <div class="col-12">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
  <div class="row">

    <div class="col-12">

      <ul class="nav bg-light justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/campus']">Campus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/academics']">Academics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/our-staff']">Our Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
        </li>
      </ul>

    </div>
  </div>

</div>
<router-outlet></router-outlet>